<h1>Add to your Grocery List</h1>
<%= form_for @grocery do |f| %>

  <%= label_tag(:item, "Item:") %>
  <%= f.text_field :item %></br>

  <%= label_tag(:quantity, "Quantity:") %>
  <%= f.text_field :quantity %></br> 
  <!-- this many not work due to integer field -->

  <%= label_tag(:description, "Description") %> 
  <%= f.text_area :description %></br>
  <%= f.submit "Add to List" %>
<% end %>